In [12]:
import pandas as pd
pd.__version__

'1.5.3'

In [13]:
pwd

'C:\\Users\\FLRG0823'

In [14]:
pd.__version__

'1.5.3'

In [15]:
df=pd.read_csv('green_tripdata_2019-09.csv.gz')
df

C:\Users\FLRG0823\AppData\Local\Temp\ipykernel_20680\680115599.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('green_tripdata_2019-09.csv.gz')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,0.50,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,0.50,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.00,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.00,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.00,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.00,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.00,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [16]:
df['lpep_pickup_datetime']=pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime']=pd.to_datetime(df['lpep_dropoff_datetime'])

In [17]:
df.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [18]:
df['trip_time']=(df['lpep_dropoff_datetime'] - df['lpep_pickup_datetime']).astype('timedelta64[ns]')
df.iloc[df['trip_time'].idxmax()]

VendorID                                 2.0
lpep_pickup_datetime     2019-09-26 08:58:52
lpep_dropoff_datetime    2019-09-30 13:43:54
store_and_fwd_flag                         N
RatecodeID                              99.0
PULocationID                             193
DOLocationID                             193
passenger_count                          1.0
trip_distance                            0.0
fare_amount                              2.5
extra                                    1.3
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                             0.0
ehail_fee                                NaN
improvement_surcharge                    0.0
total_amount                             4.3
payment_type                             2.0
trip_type                                1.0
congestion_surcharge                     0.0
trip_time                    4 days 04:45:02
Name: 327498, dtype: object

In [19]:
df['total_amount'].nlargest(3).index
df.iloc[df['total_amount'].nlargest(3).index]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,trip_time
337292,2.0,2019-09-26 19:32:52,2019-09-27 01:50:27,N,4.0,265,16,1.0,341.64,1761.00,...,0.50,0.0,0.0,NaN,0.3,1762.80,2.0,1.0,0.0,0 days 06:17:35
35116,2.0,2019-09-04 09:55:07,2019-09-06 14:09:12,N,1.0,193,193,1.0,0.30,1600.00,...,0.50,0.0,0.0,NaN,0.3,1600.80,2.0,1.0,0.0,2 days 04:14:05
321679,2.0,2019-09-25 18:04:33,2019-09-26 11:48:28,N,1.0,193,193,1.0,0.00,577.81,...,17.33,0.0,0.0,NaN,0.0,595.14,2.0,1.0,0.0,0 days 17:43:55

In [20]:

df.groupby('PULocationID',as_index=True).agg({'total_amount':['max','sum']
}).sort_values(by=('total_amount','sum'),ascending=False)

             total_amount
                      max        sum
PULocationID
74                 170.00  553336.48
75                 133.05  406348.55
41                 134.06  304736.00
166                200.00  261491.77
82                 330.00  258164.89
...                   ...        ...
84                  74.24      74.24
214                 32.50      73.04
172                 68.10      68.10
211                 29.00      67.53
109                 20.00      41.60

[257 rows x 2 columns]

In [21]:
df2=pd.read_csv('green_tripdata_2019-09.csv.gz')
df3=pd.read_csv('taxi+_zone_lookup.csv')
# new_df.sort_values('PULocationID')
df4=df3.rename(columns={"LocationID": "PULocationID"})
# df2.info()

df5=df2.merge(df4)
# df5.info()
df5['lpep_pickup_datetime']=pd.to_datetime(df5['lpep_pickup_datetime'])
df5['lpep_dropoff_datetime']=pd.to_datetime(df5['lpep_dropoff_datetime'])
df6=df5.set_index('lpep_pickup_datetime',drop=True)
df6

C:\Users\FLRG0823\AppData\Local\Temp\ipykernel_20680\1543420834.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv('green_tripdata_2019-09.csv.gz')

,VendorID,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,...,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,Borough,Zone,service_zone
lpep_pickup_datetime,,,,,,,,,,,,,,,,,,,,,
2019-09-01 00:10:53,2.0,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,0.50,...,0.00,NaN,0.3,14.16,1.0,1.0,0.00,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone
2019-09-01 00:10:38,1.0,2019-09-01 00:21:42,N,1.0,65,181,1.0,1.40,9.00,0.50,...,0.00,NaN,0.3,12.35,1.0,1.0,0.00,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone
2019-09-01 00:01:54,2.0,2019-09-01 00:28:59,N,1.0,65,77,1.0,5.66,22.50,0.50,...,0.00,NaN,0.3,23.80,2.0,1.0,0.00,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone
2019-09-01 01:03:23,2.0,2019-09-01 01:12:20,N,1.0,65,211,1.0,2.54,10.00,0.50,...,0.00,NaN,0.3,16.86,1.0,1.0,2.75,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone
2019-09-01 00:53:33,1.0,2019-09-01 01:10:18,N,1.0,65,80,1.0,3.40,14.50,0.50,...,0.00,NaN,0.3,15.80,2.0,1.0,0.00,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-27 18:51:00,NaN,2019-09-27 19:28:00,NaN,NaN,125,177,NaN,6.78,25.43,2.75,...,0.00,NaN,0.3,28.98,NaN,NaN,NaN,Manhattan,Hudson Sq,Yellow Zone
2019-09-28 16:03:00,NaN,2019-09-28 16:42:00,NaN,NaN,125,226,NaN,8.22,28.72,2.75,...,0.00,NaN,0.3,32.27,NaN,NaN,NaN,Manhattan,Hudson Sq,Yellow Zone
2019-09-28 20:57:00,NaN,2019-09-28 21:13:00,NaN,NaN,125,257,NaN,6.49,30.14,2.75,...,0.00,NaN,0.3,33.69,NaN,NaN,NaN,Manhattan,Hudson Sq,Yellow Zone
2019-09-29 13:46:00,NaN,2019-09-29 14:27:00,NaN,NaN,125,213,NaN,12.45,37.32,2.75,...,6.12,NaN,0.3,46.99,NaN,NaN,NaN,Manhattan,Hudson Sq,Yellow Zone
2019-09-11 14:32:00,NaN,2019-09-11 15:15:00,NaN,NaN,172,231,NaN,15.04,58.73,2.75,...,6.12,NaN,0.0,68.10,NaN,NaN,NaN,Staten Island,New Dorp/Midland Beach,Boro Zone

In [22]:
df7=df6['2019-09-18 00:00:00':'2019-09-19 00:00:00']
df7.groupby('Borough',as_index=True).agg({'total_amount':['max','sum']
}).sort_values(by=('total_amount','sum'),ascending=False)

              total_amount
                       max       sum
Borough
Brooklyn            219.80  96333.24
Manhattan           136.56  92271.30
Queens              261.77  78891.01
Bronx               190.94  32830.09
Unknown             260.12    728.75
Staten Island        96.80    342.59

In [23]:
df8=df3.rename(columns={"LocationID": "DOLocationID"})
# df2.info()

df9=df2.merge(df4)
df9['lpep_pickup_datetime']=pd.to_datetime(df9['lpep_pickup_datetime'])
df9['lpep_dropoff_datetime']=pd.to_datetime(df9['lpep_dropoff_datetime'])
df10=df9.set_index('lpep_pickup_datetime',drop=True)
df10.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 449063 entries, 2019-09-01 00:10:53 to 2019-09-11 14:32:00
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               389920 non-null  float64
 1   lpep_dropoff_datetime  449063 non-null  datetime64[ns]
 2   store_and_fwd_flag     389920 non-null  object
 3   RatecodeID             389920 non-null  float64
 4   PULocationID           449063 non-null  int64
 5   DOLocationID           449063 non-null  int64
 6   passenger_count        389920 non-null  float64
 7   trip_distance          449063 non-null  float64
 8   fare_amount            449063 non-null  float64
 9   extra                  449063 non-null  float64
 10  mta_tax                449063 non-null  float64
 11  tip_amount             449063 non-null  float64
 12  tolls_amount           449063 non-null  float64
 13  ehail_fee              0 non-null       float64
 14  improvement_surcharge  449063 non-null  float64
 15  total_amount           449063 non-null  float64
 16  payment_type           389920 non-null  float64
 17  trip_type              389920 non-null  float64
 18  congestion_surcharge   389920 non-null  float64
 19  Borough                449063 non-null  object
 20  Zone                   448762 non-null  object
 21  service_zone           448119 non-null  object
dtypes: datetime64[ns](1), float64(15), int64(2), object(4)
memory usage: 78.8+ MB

In [37]:
df11=df6['2019-09-1 00:00:00':'2019-10-1 00:00:00']
df12=df11[df11['PULocationID']==7]
df12.groupby('DOLocationID',as_index=True).agg({'tip_amount':['max','sum']
}).sort_values(by=('tip_amount','max'),ascending=False).head(1)

C:\Users\FLRG0823\AppData\Local\Temp\ipykernel_20680\2086466946.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df11=df6['2019-09-1 00:00:00':'2019-10-1 00:00:00']

             tip_amount
                    max     sum
DOLocationID
132               62.31  277.26

In [25]:
df13=df11[df11['DOLocationID']==132]
df13

,VendorID,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,...,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,Borough,Zone,service_zone
lpep_pickup_datetime,,,,,,,,,,,,,,,,,,,,,
2019-09-01 16:08:36,2.0,2019-09-01 16:50:11,N,1.0,65,132,1.0,18.05,50.00,0.00,...,0.00,NaN,0.3,50.80,2.0,1.0,0.00,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone
2019-09-02 14:11:20,2.0,2019-09-02 15:05:49,N,1.0,65,132,1.0,30.84,81.50,0.00,...,0.00,NaN,0.3,102.88,1.0,1.0,0.00,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone
2019-09-02 15:40:35,2.0,2019-09-02 16:53:09,N,5.0,65,132,2.0,12.74,55.00,0.00,...,0.00,NaN,0.0,61.00,1.0,2.0,0.00,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone
2019-09-06 13:36:30,2.0,2019-09-06 14:30:18,N,1.0,65,132,1.0,17.47,50.00,0.00,...,0.00,NaN,0.3,60.96,1.0,1.0,0.00,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone
2019-09-07 10:18:51,2.0,2019-09-07 10:49:16,N,1.0,65,132,1.0,17.87,49.00,0.00,...,0.00,NaN,0.3,57.80,1.0,1.0,0.00,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-25 18:37:59,2.0,2019-09-25 18:44:04,N,1.0,124,132,1.0,4.30,13.00,1.00,...,0.00,NaN,0.3,14.80,2.0,1.0,0.00,Queens,Howard Beach,Boro Zone
2019-09-28 14:33:05,1.0,2019-09-28 14:43:41,N,1.0,124,132,1.0,5.30,16.00,0.00,...,0.00,NaN,0.3,16.80,2.0,1.0,0.00,Queens,Howard Beach,Boro Zone
2019-09-21 13:48:27,2.0,2019-09-21 14:55:53,N,1.0,58,132,1.0,17.59,61.50,0.00,...,6.12,NaN,0.3,68.42,1.0,1.0,0.00,Bronx,Country Club,Boro Zone
2019-09-17 05:25:00,NaN,2019-09-17 05:52:00,NaN,NaN,232,132,NaN,17.47,69.95,2.75,...,0.00,NaN,0.3,73.50,NaN,NaN,NaN,Manhattan,Two Bridges/Seward Park,Yellow Zone
2019-09-17 16:03:01,2.0,2019-09-17 16:56:39,N,1.0,262,132,1.0,18.08,52.00,1.00,...,12.24,NaN,0.3,82.55,1.0,1.0,2.75,Manhattan,Yorkville East,Yellow Zone